 @import 
 url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');
 @import 
 url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Playwrite+DE+SAS:wght@100..400&display=swap');
 
 .gradient-title {
  background: linear-gradient(90deg, #f7b7b7, #fcd9b8, #fde9e1, #f7b7b7);
  color: #333;
  background-size: 300% 300%;
  font-family: "Marck Script", cursive;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: shine 6s ease-in-out infinite;
}



/* Анимация градиента 🌈 */
@keyframes shine {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  background: linear-gradient(180deg, #9966CC, #ffeae2, #fffaf6);
  color: #333;
  font-family: "Lora", cursive;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  img {
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  
}
}
figure {
  text-align: center;
  margin-top: 20px;
  border: 3px solid #ffb6a3; /* персиковая рамка */
  border-radius: 12px; /* закруглённые углы */
  padding: 8px; /* отступ между рамкой и картинкой */
  margin: 20px auto;
  background-color: #fffaf7; /* нежный фон внутри */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* мягкая тень */
  display: inline-block; /* чтобы не растягивалось на всю ширину */
}

figcaption {
  color: #555;
  font-style: italic;
  font-size: 18px;
  margin-top: 5px;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #f7c6b8; /* розово-бежевый */
  color: #fff;
  text-decoration: none;
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
  border-radius: 50px;
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s;
}

.button:hover {
  background-color: #e5a89c; /* немного темнее при наведении */
}

h1 {
  color: #0077ff;
}